* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: orangered;
    padding: 16px 0;
    color: white;
}

header nav li {
    display: inline;
    margin-left: 6px;
}

header nav li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha {
    padding: 1px 0;
    margin: 16px 0;
    width: 100%;
    background-color: orangered;
}

.sobre {
    display: flex;
    padding: 16px 0;
}

.sobre img {
    width: 40%;
    margin-right: 16px;
}